body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background-color: #18122b;
  color: #e90064;
}

#watch-screen {
    font-size: 91px;
}
