body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background-color: #18122b;
  color: #e90064;
}

#watch-screen {
  font-size: 91px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 20px;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #ff5f9e, 0 0 42px #ff5f9e,
    0 0 82px #ff5f9e, 0 0 92px #b3005e, 0 0 102px #b3005e, 0 0 151px #b3005e;
}
